__pycache__/
**/__pycache__/
**/legacy/
**/dummy/
*.pyc
*.zip
__pycache__/
camtune/__pycache__/
draft_scripts/*
logs/*
**/*_smac/
**/luchen_results/
camtune/logs/
camtune/results/
camtune/trees/
camtune/optimizer/optim_logs/
camtune/optimizer/optim_results/
camtune/optimizer/optim_trees/
camtune/optimizer/results/
camtune/optimizer/__pycache__/
camtune/knobs/expr_knobs/
.vscode/
rename.py
benchbase.jar
drafts/
*.ipynb
smac3-output*/
camtune/llamatune/smac_output/
remote_db_test.py
trees/
camtune/results/dummy/
camtune/logs/dummy
knob_resources/
tmp/
analysis/figs/
reminder.txt

camtune.egg-info/

**/*.config.xml
/camtune/results/**/*.metrics.json
/camtune/results/**/*.params.json
/camtune/results/**/*.raw.csv
/camtune/results/**/*.results.*.csv
/camtune/results/**/*.results.csv
/camtune/results/**/*.samples.csv
/camtune/results/**/*.summary.json

scripts/
